.box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 50%;
   margin: 2.5% auto;
   border: solid 5px #575D90;
   border-radius: 25px;
   box-shadow: 0 0 4px 2px rgba(87, 93, 144, 0.8);
   background-color: rgba(189, 192, 216, 0.95);
   padding: 1.5% 1%;
}
.main{
   width: 100%;
}
.box .main h1{
   font-size: 2.5rem;
   text-align: center;
}
.box .main.patientMain h1{
   margin: 0 0 2% 0;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
form .entering{
   width: 100%;
   display: flex;
   justify-content: center;
}
form .entering label{
   width: 20%;
   margin: 1%;
   font-size: 1.25rem;
}
form .entering label r{
   color: red;
}
form .entering input{
   width: 60%;
   margin: 1%;
   padding: 1%;
   border: solid 3px #575D90;
   border-radius: 15px;
   text-decoration: none;
   color: black;
   font-size: 1.25rem;
}
form .entering input::placeholder{
   font-size: 1rem;
}
form .entering input:focus{
   outline: none;
}
.buttons{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5% 0 0 0;
}
form input[type=button]{
   font-size: 1.15rem;
   font-weight: 500;
   margin: 0 5%;
   width: 9.5vw;
   padding: 1.75%;
   border-radius: 15px;
   border: 3px solid rgb(183, 154, 82);
   background-color: rgb(255, 217, 103);
   box-shadow: inset 0 0 5px 1px rgba(255, 239, 191, 0.8);
   transition: 0.2s ease-in-out;   
}
form input[type=button]:hover{
   cursor: pointer;
   box-shadow: inset 0 0 50px 5px rgba(255, 239, 191, 0.8);
}
a.cancel{
   text-decoration: none;
   color: black;
   text-align: center;
   font-weight: 500;
   font-size: 1.15rem;
   margin: 0 5%;
   width: 8vw;
   padding: 1.5%;
   border-radius: 15px;
   border: 3px solid rgb(197, 98, 89);
   background-color: rgb(255, 116, 103);
   box-shadow: inset 0 0 5px 1px rgba(255, 195, 191, 0.8);
   transition: 0.2s ease-in-out;   
}
a.cancel:hover{
   cursor: pointer;
   box-shadow: inset 0 0 50px 5px rgba(255, 195, 191, 0.8);
}
form .entering input.error{
   border: 3px solid rgb(207, 49, 49);
}
.dataEditing{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
select.edit-pat-in-proj{
   width: 85%;
   margin: 1%;
   padding: 1%;
   border: solid 3px #575D90;
   border-radius: 15px;
   text-decoration: none;
   color: black;
   font-size: 1.25rem;
}
select.edit-pat-in-proj:hover{
   cursor: pointer;
}
select.edit-pat-in-proj:focus{
   outline: none;
}
select.listError{
   border: 3px solid rgb(207, 49, 49);;
}
select.edit-pat-in-proj option{
   font-size: 1.25rem;
   background-color: #ba7979;
   color: black;
   transition: 0.15s ease-in-out;
}
select.edit-pat-in-proj option.checked{
   background-color: #7bba79;
}
select.edit-pat-in-proj option[value=""]{
   background-color: #4d5672;
   color: white
}
select.edit-pat-in-proj option:hover{
   box-shadow: 0 0 10px 100px #1882A8 inset;
   color: black;
   cursor: pointer;
}
select.edit-pat-in-proj.choice-error{
   border: 3px solid rgb(207, 49, 49);
}
.addOption{
   margin: 2% 5% 0 0;
   padding: 2% 5%;
   border-radius: 15px;
   border: 3px solid rgb(136, 166, 128);
   background-color: rgb(137, 177, 132);
   box-shadow: inset 0 0 5px 1px rgba(179, 206, 155, 0.8);
   transition: 0.2s ease-in-out;
}
.addOption:hover{
   cursor: pointer;
   box-shadow: inset 0 0 50px 5px rgba(179, 206, 155, 0.8);
}
.addOption h2{
   margin: 0;
   text-align: center;
   font-size: 1.25rem
}
.in-project-patient{
   width: 100%;
   display: flex;
   flex-wrap: nowrap;
   gap: 1rem;
   margin: 1%;
   border-bottom: solid 2px #575D90;
}
.in-project-patient .del{
   width: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.in-project-patient .del p{
   background-color: rgb(255, 54, 54);
   border-radius: 15px;
   user-select: none;
   color: white;
   font-weight: 900;
   font-size: 1.5rem;
   text-align: center;
   padding: 7.5% 20%;
   transition: 0.25s ease-in-out;
}
.in-project-patient .del p:hover{
   cursor: pointer;
   background-color: rgb(183, 37, 37);
}
.in-project-patient .patChosenName{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70%;
   text-align: center;
   font-size: 1.25rem;
}
.in-project-patient .patChosenName input.chosen-patient{
   display: none;
}
.in-project-patient .agreedCheckBox{
   padding: 0 5%;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20%;
   border-left: solid 2px #575D90;
   text-align: center;
   font-size: 1.25rem;
}
.in-project-patient .patChosenName p{
   margin: 0;
}
.in-project-patient .agreedCheckBox p{
   margin: 0;
}
.in-project-patient input.agreed{
   width: 40%;
   transform: scale(1.3);
}
.legend{
   width: 100%;
   display: flex;
   gap: 1rem;
   justify-content: center;
   align-items: center;
}
.legend .green{
   background-color: #7bba79;
   width: 30%;
}
.legend .red{
   background-color: #ba7979;
   width: 30%;
}
.legend .red p,
.legend .green p{
   padding: 2.5%;
   margin: 0;
   text-align: center;
}