.menu{
   width: 100%;
   padding: 1% 0;
   background: linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(124,131,198,1) 100%);
   display: flex;
 }
 .name {
   width: 17.5%;
   margin: auto;   
 }
 .name h1{
   width: 100%;
   margin: 0;
   text-align: center;
 }
 .tabs{
   width: 75%;
   display: flex;
   margin: 0 5% 0 0.5%;
 }
 .tabs a{
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   margin: 0 1%;
   font-size: 1.5rem;
   text-decoration: none;
   color: black;
   background: linear-gradient(#EDF2F4 0%, #EDF2F4 100%);
   background-size: 0% 100%;
   background-position: 50% 0;
   background-repeat: no-repeat;
   transition: box-shadow 0.25s linear, background-size 0.125s linear;
 }
 .tabs a p {
   margin: 0;
   text-align: center;
 }
 .tabs a.not-chosen{
   border-left: 5px solid #EDF2F4;
   border-right: 5px solid #EDF2F4;
   border-top: none;
   border-bottom: none;
   box-shadow: 8px 0 5px -4px rgba(31, 73, 125, 0.8), -8px 0 5px -4px rgba(31, 73, 125, 0.8);
 }
 .tabs a.chosen{
   border: 5px solid #EDF2F4;
   background-size: 100% 100%;
   box-shadow: 0 7px 5px -4px rgba(31, 73, 125, 0.8), 0 -6px 5px -4px rgba(31, 73, 125, 0.8);
 }
 .tabs a.not-chosen:hover{
   cursor: pointer;
   background-size: 100% 100%;
 }
 