.patients-tab{
   min-height: 90%;
   width: 100%;
   background-color: #EDF2F4;
   display: flex;
   flex-direction: column;
}
.top{
   display: flex;
   width: 100%;
}
.top .add{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-grow: 1;
   flex-basis: 50vh;
   padding: 0.5%;
   margin: 0 12%;
}
.top .add a{
   padding: 1.75% 2.5%;
   border: solid 5px #575D90;
   color: black;
   border-radius: 15px;
   text-decoration: none;
   font-weight: 700;
   font-size: 1.25rem;
   box-shadow: inset 0 0 4px 2px rgba(87, 93, 144, 0.8);
   transition: 0.2s ease-in-out;
}
.top .add a:hover{
   border-color: rgb(98, 98, 98);
   box-shadow: inset 0 0 60px 10px rgba(87, 93, 144, 0.8);
}
.top .search{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-grow: 1;
   flex-basis: 50vh;
   padding: 0.5%;
   margin: 0 12%;
}
.top .search input{
   width: 75%;
   padding: 1.5% 2.5%;
   border: solid 3px #575D90;
   border-radius: 15px;
   text-decoration: none;
   color: black;
   font-size: 1.25rem;
}
.top .search input::placeholder{
   font-size: 1rem;
}
.top .search input:focus{
   outline: none;
}
table.patient-list{
   padding: 0.25% 1% 0 1%;
   margin: 0 5%;
   width: 90vw;
   border-collapse: collapse;
   border: hidden;
}
table.patient-list th{
   vertical-align: middle;
   text-align: center;
   padding: 0.5%;
   border: solid 1px #dcdcdc;
   border-bottom: solid 2px #575D90;
   padding: 1% 0;
}
table.patient-list th:hover{
   cursor: pointer;
}
table.patient-list th .sorting{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
table.patient-list th img{
   display: none;
   padding: 0 10%;
   width: 1rem;
   height: 1rem;
   margin: 0;
   float: left;
   transition: 0.2s ease-in-out;
}
table.patient-list th img.active-1,
table.patient-list th img.active-2{
   display: block;
}
table.patient-list th img.asc{
   transform: rotateZ(0);
}
table.patient-list th img.desc{
   transform: rotateZ(180deg);
}
table.patient-list th h2{
   font-size: 1.5rem;
   margin: 0;
   float: left;
   user-select: none;
}
.patient-list th.id{
   width: 6%;
}
.patient-list th.name-s{
   width: 18vw;
}
.patient-list th.surname{
   width: 18vw;
}
.patient-list th.pesel{
   width: 18vw;
}
.patient-list th.address{
   width: 18vw;
}
.patient-list th.manage{
   width: 12vw;
}
.patient-list td{
   vertical-align: middle;
   font-size: 1.15rem;
   padding: 0.5%;
   text-align: center;
   border: solid 1px #dcdcdc;
   border-bottom: solid 2px #575D90;
}
.patient-list .more{
   width: 50%;
   padding: 2% 1%;
   margin: 0 auto;
   border-radius: 15px;
   border: 3px solid rgb(137, 129, 40);
   background-color: rgb(219, 189, 20);
   box-shadow: inset 0 0 5px 1px rgba(255, 244, 123, 0.8);
   transition: 0.2s ease-in-out;
}
.patient-list .more p{
   margin: 0;
   font-size: 1.25rem;
   user-select: none;
}
.patient-list .more:hover{
   cursor: pointer;
   box-shadow: inset 0 0 50px 5px rgba(255, 244, 123, 0.8);
}
.bot{
   position: absolute;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 0 1% 0;
}
.page-dot{
   line-height: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 .5%;
   padding: 0;
   width: 2rem;
   height: 2rem;
   border: solid 5px #575D90;
   border-radius: 50%;
   font-weight: 500;
   font-size: 1.25rem;
   box-shadow: inset 0 0 4px 2px rgba(87, 93, 144, 0.8);
   transition: 0.2s ease-in-out;
   user-select: none;
}
.page-dot.current{
   width: 2.5rem;
   height: 2.5rem;
   border-color: rgb(98, 98, 98);
   box-shadow: inset 0 0 60px 10px rgba(87, 93, 144, 0.8);
}
.page-dot:hover{
   cursor: pointer;
   border-color: rgb(98, 98, 98);
   box-shadow: inset 0 0 60px 10px rgba(87, 93, 144, 0.8);
}
.dot3{
   font-size: 1.25;
   line-height: 0;
   letter-spacing: 0.25rem;
}
.patient-details{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: solid 5px #575D90;
   border-radius: 25px;
   background-color: rgba(189, 192, 216, 0.95);;
   width: 60vw;
   height: 30rem;
   display: none;
   flex-wrap: wrap;
}
.patient-details .proj,
.patient-details .info{
   flex-basis: 40%;
   height: 70%;
   display: flex;
   flex-direction: column;
   padding: 2.5% 5%;
}
.patient-details h1{
   text-align: center;
   font-size: 2rem;
   margin: 0 0 5% 0;
}
.patient-details .info .line{
   width: 100%;
   padding: 1%;
   display: flex;
   border-bottom: solid 2px #575D90;
}
.patient-details .info .line h2{
   font-size: 1.5rem;
   width: 30%;
   margin: 0;
   text-align: center;
}
.patient-details .info .line p{
   font-size: 1.25rem;
   width: 70%;
   margin: 0;
   text-align: center;
}
.patient-details .settings{
   display: flex;
   flex-basis: 100%;
   height: 20%;
}
.patient-details .settings .go-back{
   width: 50%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0 5%;
}
.patient-details .settings .edit-delete{
   width: 50%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 0 5%;
}
.close{
   margin: 0 0 0 5%;
   width: 25%;
   padding: 2% 1%;
   border-radius: 15px;
   border: 3px solid rgb(68, 104, 123);
   background-color: rgb(120, 172, 202);
   box-shadow: inset 0 0 5px 1px rgba(165, 210, 236, 0.8);
   transition: 0.2s ease-in-out;
}
.edit{
   margin: 0 5%;
   width: 25%;
   padding: 2% 1%;
   border-radius: 15px;
   border: 3px solid rgb(183, 154, 82);
   background-color: rgb(255, 217, 103);
   box-shadow: inset 0 0 5px 1px rgba(255, 239, 191, 0.8);
   transition: 0.2s ease-in-out;
}
.delete{
   margin: 0 5% 0 0;
   width: 25%;
   padding: 2% 1%;
   border-radius: 15px;
   border: 3px solid rgb(170, 90, 90);
   background-color: rgb(255, 151, 151);
   box-shadow: inset 0 0 5px 1px rgba(255, 193, 184, 0.8);
   transition: 0.2s ease-in-out;
}
.close:hover{
   cursor: pointer;
   box-shadow: inset 0 0 50px 5px rgba(165, 210, 236, 0.8);
}
.edit:hover{
   cursor: pointer;
   box-shadow: inset 0 0 50px 5px rgba(255, 239, 191, 0.8);
}
.delete:hover{
   cursor: pointer;
   box-shadow: inset 0 0 50px 5px rgba(255, 193, 184, 0.8);
}
.edit p,
.delete p,
.close p{
   text-align: center;
   margin: 0;
   font-size: 1.25rem;
   user-select: none;
}
a{
   text-decoration: none;
   color: black;
}
