.summary-tab{
   min-height: 90%;
   width: 100%;
   background-color: #EDF2F4;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
}
.card{
   margin: 2vh;
   padding: 2.5vh;
   background-color: rgba(206, 206, 207, 0.75);
   border: solid 3px #7C83C6;
   border-radius: 25px;
   box-shadow: 0 10px 8px rgba(0, 0, 0, 0.35);
}
.reg-patients{
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.reg-projects{
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.patients-per-proj{
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 4;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.reg-patients h2,
.reg-projects h2,
.patients-per-proj h2{
   width: 80%;
   margin: 0;
}
.reg-patients h1,
.reg-projects h1,
.patients-per-proj h1{
   margin: 1.5vh 0;
   font-size: 3.5rem;
   width: 80%;
   border-top: solid 5px #575D90;
   border-bottom: solid 5px #575D90;
}
.researches{
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 4;
   display: flex;
   flex-direction: column;
}
.researches h1{
   height: fit-content;
   width: 100%;
   margin: 0;
   text-align: center;
}
.res-content{
   height: 100%;
   margin-top: 2vh;
   display: flex;
   flex-wrap: wrap;
   gap: 2vh;
}
.list{
   flex-grow: 1;
   flex-basis: 50vh;
   padding: 2vh;
   border-right: solid 5px #575D90;
}
.list-header{
   display: flex;
}
.list-header .h-name{
   width: 75%;
}
.list-header .b-name{
   width: 25%;
}
.list-body{
   display: flex;
}
.list-body .name{
   width: 80%;
   margin: 0;
}
.list-body .number{
   width: 20%;
   margin: 0;
}
.list-body p{
   text-align: center;
   margin: 0;
   border-bottom: solid 2px #575D90;
   font-size: 1.25rem;
}
.list h2{
   text-align: center;
   margin: 0;
   border-bottom: solid 2px #575D90;
   font-size: 1.5rem;
}
.chart{
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 50vh;
}